body {
    font-family: 'Segoe UI', sans-serif;
    background:rgb(222, 215, 230);
    margin: 0;
    padding: 0;
    color:rgb(52, 22, 66);
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #cfbbdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.logo-section {
    display: flex;
    align-items: center;
}
.Smart-Alert-Icon {
    width: 35px;
    margin-right: 10px;
}
.page-title {
  text-align: center;           /* توسيط النص أفقي */
  font-size: 2.5rem;            /* حجم الخط */
  font-weight: bold;            /* خط عريض */
  margin: 20px 0;               /* مسافة فوق وتحت */
  color: rgb(52, 22, 66);              /* لون جميل (كحلي غامق) */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* خط مودرن */
  letter-spacing: 1.2px;        /* تباعد بين الحروف */
  text-transform: uppercase;    /* يحول الحروف لأحرف كبيرة */
  text-shadow: 1px 1px 2px #bdc3c7; /* ظل بسيط للنص */
  position: absolute;
  left: 40%;
  top: 10%;

}
.table td, .table th {
    vertical-align: middle;
}

.table thead th {
    background-color: #8d5aaf;
    color: white;   
}
.table-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    transform:translateX(-450px);
}

table {
    width: 200%;
    max-width: 1000px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 100px;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.table th, .table td {
    padding: 12px 20px;
    text-align: center;
}
.token-button-wrapper {
  margin: 20px auto;
  width: fit-content;
  text-align: center;
  position: relative;
}
.btn-invite {
  background: linear-gradient(135deg, #957dae, #ba7aa9); /* تدرج بنفسجي - أزرق */
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.btn-invite:hover {
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg,#ba7aa9, #957dae,  );
}

.btn-invite:active {
  transform: scale(0.98);
  background: #472f91;
}
.go-back {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color:rgb(52, 22, 66);
  font-weight: 500;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  text-decoration: none;
}