<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login | Smart Alert</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='Login.css') }}">
  <script src="{{ url_for('static', filename='Login.js') }}"></script>
</head>
<body>

<header class="topbar">
  <div class="logo-section">
    <img src="{{ url_for('static', filename='images/Alarm.png') }}" alt="Alarm Icon" class="Smart-Alert-Icon">
    <h1>Smart Alert</h1>
  </div>
</header>

<main class="login-container">
  <h1>Welcome back to your control panel</h1>

  {% if error %}
    <p style="color:red">{{ error }}</p>
  {% endif %}

  <form class="login-form" method="POST" action="{{ url_for('login') }}">
    <input type="email" name="email" placeholder="Email Address" class="form-input" required>

    <div class="password-field">
      <input type="password" name="password" placeholder="Password" class="form-input" id="password">
      <i class="fas fa-eye toggle-password" id="togglePassword"></i>
    </div>

    <button type="submit" class="login-btn" >Log In</button>

    <a href="#" class="forgot">Forgot password?</a>
    <p class="signup-text">Don’t you have an account? <a href="{{ url_for('signup') }}">Sign up</a></p>

    <div class="social-login">
      <a href="#" class="google"><i class="fab fa-google"></i> Log in with Google</a>
      <a href="#" class="facebook"><i class="fab fa-facebook-f"></i> Facebook</a>
    </div>
  </form>
</main>

</body>
</html>
